:root {

}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.piano-key-container {
    display: flex;
    border: black 1px solid;
    height: 300px;
    padding: 50px;
}

.piano-key {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: black 1px solid;
    align-items: center;
    justify-content: flex-end;
}
.white-key {
    background-color: antiquewhite;

}
.black-key {
    background-color: black;
    color: #ffffff;
    width: 40%;
    left: 50%;
    position: relative;
}

.piano-key p {

}